extends layout
append additionalHead
    link(rel='stylesheet', href='/stylesheets/demo3.css')
block content
    h1= title
    p Welcome to #{title}
    p demos time whoop
    script('src=javascripts/lib/d3.js')
    script('src=javascripts/demoscript3.js')
    //note about jade- div tags are assumed - the below line generates a div w/ id dashboard
    #dashboard
    //note about jade - script tags should have period after for the js to works
    script.
        //dashboard('#dashboard',datas);