extends layout
append additionalHead
    link(rel='stylesheet', href='/stylesheets/demo3.css')
block content
    h1= title
    p Welcome to #{title}
    p grouped bar chart example
    script('src=javascripts/lib/d3.js')
    script('src=javascripts/demoscript3.js')
    //note about jade- div tags are assumed - the below line generates a div w/ id dashboard
    #dashboard