doctype html
html(ng-app='batch2')
    head
        title= batch2point0
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/app.css')
        block additionalHead
    body(ng-style="{'background-color': so.Fresh}")
        block content
            ul(class='menu')
                li: a(href='#/view1') view1
                li: a(href='#/cat') categories

            div(ng-view)

            hr

            footer hello this is a footer.  batch!  2.0!  so glorious
            button(ng-click="so.Fresh= getRandomColor()", ng-init="so.Fresh='#FFF'") CHANGE COLORS!
            p {{so.Fresh}}
//TODO: the project structure is some heavily butchered version of angular-seed.  maybe fix.
script(src="js/dumbScripts.js")
script(src="js/lib/angular/angular.js")
script(src="js/lib/angular/angular-route.js")
script(src="js/lib/angular/angular-resource.js")
script(src="app.js")
script(src="js/batch/view1/view1.js")
script(src="js/batch/cat/cat.js")
script(src="js/batch/login/login.js")

