.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.grouptable table, th, td{
  border: 1px solid black;
}

.grouptable th{
  background-color: #7d7d7d;
}

.grouptable tr:nth-child(even) {
  background-color: #d4d4d4;
}